.padding {
	&-row {
		padding: 0 20px;

		@include respond-to($vp-large) {
			padding: 0 90px;
		}
	}
	&-small {
		padding: {
			top: 20px;
			bottom: 20px;
		}
	}
	&-middle {
		padding: {
			top: 60px;
			bottom: 60px;
		}
	}
	&-large {
		padding: {
			top: 80px;
			bottom: 80px;
		}
	}
	&-xlarge {
		padding: {
			top: 100px;
			bottom: 100px;
		}
	}
}

.margin {
	&-row {
		margin: 0 20px;

		@include respond-to($vp-large) {
			margin: 0 90px;
		}
	}
}