.btn {
	display: block;
	padding: 7px 20px;
	border: 0;
	border-radius: 20px;
	font-weight: 900;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .3s ease-in-out;

	&-default {
		color: $primary-color;
		background: linear-gradient(
			to bottom, 
			$c-white 0%,
			$c-grey-mid 100%
		);

		@include hover {
			color: $c-white;
			background: linear-gradient(
                to bottom, 
                $c-purple 0%,
                $c-purple-dark 100%
            );
		}
	}
}