.btn {
	display: block;
	max-width: 240px;
	font-weight: 700;
	text: {
		decoration: none;
		transform: uppercase;
	}
	cursor: pointer;
	transition: all .3s ease-in-out;
	
	&-width {
		margin: 0 10px;
		max-width: 300px;
		width: 100%;
	}
	&-default {
		padding: 7px 20px;
		max-width: 100%;
		border: 0;
		border-radius: 20px;
		font-weight: 900;
	}
	&-white {
		color: $primary-color;		
		background: linear-gradient(
			to bottom, 
			$c-white 0%,
			$c-grey-mid 100%
		);

		@include hover {
			color: $c-white;
			background: linear-gradient(
                to bottom, 
                $c-purple 0%,
                $c-purple-dark 100%
            );
		}
	}
	&-green {
		color: $c-white;
		background-color: $c-green;
	}
	&-red {
		color: $c-white; 
		background-color: $c-red;

		@include hover-bg-color($c-grey, $c-white);
	}
	&-gradient__blue {
		color: $c-white;
		background: linear-gradient(
	        to bottom, 
	        $primary-color 0%,
	        darken($primary-color, 20%) 100%
	    );
	    transition: none;

	    @include hover {	   
	    	color: $c-black; 	
			background: {
				image: none;
				color: $c-white;
			}
	    }
	}
	&-close {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		margin: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none !important;
		cursor: pointer;

		&__white {
			@include image-replace($image: "pics/close-white.png");
			width: 28px !important;
			height: 28px; 
		}
		&__purple {
			@include image-replace($image: "pics/close-purple.png");
			width: 28px !important;
			height: 28px;
		}
	}
}