.page-aplicaciones {
	background: {
		color: $cat3-color;
		image: url(pics/bg_espectro.jpg);
	}	
	#aplicaciones_container {
		overflow-x: scroll;
		width: 1618px;

		.qlink-item {
			&:first-child a:before {
				background-image: url(pics/cat5-icon.png);
			}
			&:last-child a:before {
				background-image: url(pics/cat6-icon.png);
			}
		}
	}
	.ui-rangeslider {
		position: relative;
		margin: 0;
		width: 100%;
		background-color: $cat2-color;

		.ui-rangeslider-sliders {
			display: table;
			margin: 0;
			width: calc(100% - 136px);
			margin: 52px 68px;

			.ui-slider-track {
				background: $c-white;

				&:first-child {
					border: 0;
				}
			}
		}
	}
	.ui-slider-track {
		border-radius: 30px;

		.ui-btn.ui-slider-handle {
			background-color: $primary-color;
			border-radius: 50%;
		}
		.ui-slider-bg {
			background-color: $primary-color !important;
		}
	}
	.range-numbers-holder {
		position: absolute;
		top: 0;
		left: 50%;
		width: calc(100% - 136px);
		height: 134px;
		transform: translateX(-50%);
	}
	.range-numbers {
		top: 50%;
		left: 0;
		margin: 0;
		width: 100%;
		transform: translateY(-50%);
		color: $c-white;

		&-top {
			margin-top: -50px;
		}
		&-bottom {
			margin-top: 40px;

			.range-number {
				@include flex(none);

				&:nth-child(1) {
					// left: 130px;
					left: 9%;
				}
				&:nth-child(2) {
					// left: 245px;
					left: 16.8%;
				}
				&:nth-child(3) {
					// left: 355px;
					left: 24%;
				}
				&:nth-child(4) {
					// left: 455px;
					left: 31%;
				}
				&:nth-child(5) {
					// left: 560px;
					left: 38%;
				}
				&:nth-child(6) {
					// left: 665px;
					left: 45.1%;
				}
				&:nth-child(7) {
					// left: 765px;
					left: 51.5%;
				}
				&:nth-child(8) {
					// left: 865px;
					left: 58.4%;
				}
				&:nth-child(9) {
					// left: 970px;
					left: 65.6%;
				}
			}
		}
		.range-number {
			&:before {
				content: none;
			}
		}
	}
	input.ui-slider-input {
		position: absolute;
		top: 149px;
		padding: 0;
		width: 120px;
		height: 45px;
		border: 0;
		border-radius: 10px;
	}
	.ui-rangeslider-first {
		left: 450px;
	}
	.ui-rangeslider-last {
		right: 450px;
	}
	.filter {
		&-column1,
		&-column2 { 
			width: 100%; 
			height: 75px;
			background-color: $cat1-color;
		}
		&-column1 {
			.custom-select-item {
				width: 280px;

				.custom-select__trigger {
					width: 120px;
					color: $c-white;
					background-color: $cat3-color;

					&:before {
						background: {
							image: none;
							color: $cat3-color;
						}
					}
				}
				.item {
					@include flexbox;

					&:first-child { 
						.custom-select__trigger {
							margin-left: 10px;
						}
					} 
					&:last-child {
						.custom-select__trigger {
							margin-right: 10px;
						}
					}
				}
				.ui-input-text, .ui-input-search {
					border-radius: 5px;
					background-color: $c-white;
				}
			}
		}
		&-column2 {  
			background-color: $cat3-color;

			.filter-item, 
			.custom-select-wrapper-inner {
				width: 100%;
			}
			.custom-select-wrapper-inner .custom-select-item {
				@include flex(1);
				width: 100%;

				.custom-select__trigger {
					height: 40px;
				}
				.custom-select {
					margin-left: 20px;
					width: 300px;
				}
				.item {
					position: relative;
				}
			}
		} 
		&-item {
			margin: 0;
		}
		&-title {
			font: {
				family: $primary-font;
				weight: 400;
			} 
		}
	}
	.content {
		&-form {
			@include flex-all($direction: column, $align: center);
			position: relative;

			> .subtitle {
				margin: 0;
				padding: 20px 0 0;
				width: 100%;
				background-color: $cat2-color;
				font: {
					family: $primary-font;
					weight: 400;
				}
			}
		}
		&-bar {
			dpadding: 10px 0;
			width: 100%;
			background-color: $c-white;
		
			&__inner, 
			.items-list {
				width: 100%;
			}
			.item {
				@include flexbox;
				margin: 5px 0;

				&-bar {
					&__number {
						@include flex(none);
						display: block;
						width: 190px;
						color: $c-grey-xmid;
						text-align: right;
					}
					&__holder {
						@include flex(1);
						@include flexbox;
						margin: 0 10px;
						width: calc(100% - 20px);
					}
					&__inner {
						display: block;
						height: 20px;					
					}
					&__text {
						@include hidden;
					}
				}
			}
		}
		&-modal {
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			width: 300px;
			transform: translate(-50%, -50%);
			
			&__title {
				@include flex-all($justify: center, $align: center);
				margin: 0;
				padding: 10px 0;
				font: {
					size: 1.8rem;
					family: $primary-font-black;
					weight: 900;
				}

				@include pseudo {
					width: 50px;
					height: 56px;
					background: url(pics/modal-cnabf.png);
				}
			}
			&__inner { 
				color: $primary-color;
				background-color: $color-over-primary;
				box-shadow: 2px 2px 5px rgba($c-black, .5);
			}
			&__types {
				@include flex-all($align: center);
				padding: 10px;
				color: $c-white;
				background-color: $cat3-color;

				span {
					&:first-child {
						@include flex-all($align: center);

						@include pseudo("after") {
							margin: 0 5px;
							width: 50px;
							height: 25px;
							background-color: $c-pink;
							border-radius: 10px;
						}
					}
				}
			}
			&__summary {
				padding: 10px;
			}
			&__footer {
				margin-top: 20px;
				width: 200px;
				color: $primary-color;
				background-color: $color-over-primary;
				box-shadow: 2px 2px 5px rgba($c-black, .5);

				a {
					@include flex-all($align: center);
					@include hover-underline;
					padding: 10px;
					color: inherit;

					em {
						display: block;
						margin-right: 10px;
						width: 110px;
						font: {
							size: 1.125rem;
							style: normal;
						}
						text-align: right;
					}

					@include pseudo("after") {
						width: 48px;
						height: 54px;
						background: url(pics/modal-disponibilidad.png);
					}
				}
			}
			h4 {
				margin: 10px 0;
			}
			p {
				margin: 5px 0 0;
			}
			@include respond-to($vp-mid) {
				width: 600px;
			}
		}
		&-modal2 {		
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 50%;
			padding: 5px;
			width: 300px;
			color: $c-black;
			background-color: $c-white;
			box-shadow: 2px 2px 5px rgba($c-black, .5);
			transform: translate(-50%, -50%);

			> p {
				margin: 0;
				padding: 5px;
				color: $color-over-primary;
				background-color: $primary-color;
				border-radius: 5px;
				font-size: .85rem;
				text-align: left;
			}
			&__title {
				margin: 0;
				padding: 5px 0;
				color: $cat3-color;
			}
			.table {
				text-align: left;

				th, td {
					padding: 5px 10px;
				}
				th {
					color: $color-over-cat3;
					background-color: $cat3-color;
					font-size: .85rem;
				}
				td {
					p {
						margin: 0;
					}
				}
			}
			@include respond-to($vp-mid) {
				width: 500px;
			}
		}
		&-summary {
			padding: 20px 80px;
			color: $primary-color;
			background-color: $c-white;

			&__title {
				color: $cat3-color;
			}
			.items-list {
				column-count: 3;

				li {
					@include flex-all($align: center);
					margin: 3px 0;

					.item-color {
						margin-right: 5px;
						width: 32px;
						height: 27px;
					}
				}
			}
		}
		&-links {
			padding: 20px 0;

			li {
				@include flex-all($justify: center, $align: center);
				width: 130px;
				height: 50px;
			}
			li a {
				@include flex-all($justify: center, $align: center);
				width: 100%;
				height: 100%;
				color: $color-over-cat2;
				background-color: $cat2-color;
				text-decoration: none;
				transition: background-color .3s ease-in-out;

				@include hover-bg-color($c-black, $c-white);
			}
		}
	}
	.color {
		&-bar {
			&__green {
				background-color: rgb(61,207,115);
			}
			&__light-green {
				background-color: rgb(188,219,111);
			}
			&__hard-green {
				background-color: rgb(0,255,8);
			}
			&__dark-green {
				background-color: rgb(119,93,16);
			}
			&__burgundy {
				background-color: rgb(180,2,78);
			}
			&__brown {
				background-color: rgb(182,87,0);
			}
			&__yellow {
				background-color: rgb(238,224,124);
			}
			&__orange {
				background-color: rgb(255,75,0);
			}
			&__orange2 {
				background-color: rgb(255,108,0);
			}
			&__purple {
				background-color: rgb(136,25,139);
			}
			&__dark-purple { 
				background-color: rgb(92,29,89);
			}
			&__light-purple { 
				background-color: rgb(161,0,228);
			}
			&__pink {
				background-color: rgb(220,0,129);
			}
			&__light-pink {
				background-color: rgb(255,220,255);
			}
			&__soft-pink {
				background-color: rgb(215,151,152);
			}
			&__blue {
				background-color: rgb(74,200,211);
			}
			&__light-blue {
				background-color: rgb(164,226,255);
			}
			&__dark-blue {
				background-color: rgb(61,30,72);
			}
			&__hard-blue {
				background-color: rgb(0,255,255);
			}
			&__red {
				background-color: rgb(242,0,34);
			}
			&__grey{
				background-color: rgb(142,142,142);
			}
			&__light-grey{
				background-color: rgb(194,194,194);
			}
			&__black {
				background-color: rgb(0,0,0);
			}
			&__white {
				background-color: rgb(255,255,255);
			}
		}
	}
	.tabs {
		&-top {
			background-color: $cat3-color;

			li a {
				@include hover-bg-color($cat2-color, $color-over-cat2);
			}
		}
	}
	@include respond-to($vp-large) {
		#aplicaciones_container {
			overflow: visible;
			margin: 0 auto;
			width: 95%;
		}
	}
	@include respond-to($vp-max) {			
		.title-page__icon {
			&:after {
				background-image: url(pics/icon-espectro.png);
			}
		}
	} 
	@include respond-to(1400px) {
		#aplicaciones_container {
			width: 85%;
		}
	}
}