.page-espectro {
	background: {
		color: $cat3-color;
		image: url(pics/bg_espectro.jpg);
	}	
	#categories_container {
		.qlink-item {
			&:first-child a:before {
				background-image: url(pics/cat5-icon.png);
			}
			&:last-child a:before {
				background-image: url(pics/cat6-icon.png);
			}
		}
	}
	#motto {
		&_row {
			@include respond-to($vp-large) {
				position: absolute;
				bottom: 170px;
				left: 0;
				right: 0;
			}
		} 
		&_container {
			@include scale-font($small-ratio: .75, $final-size: 1.73rem);
			@include width-constrain(750px);
			padding-bottom: 10px;
			text-transform: uppercase;
			letter-spacing: 2.24px; 
			border-bottom: 1px dashed $c-white;
		}
	}
}